@import './_variables.scss';

//  start -- header contact

.hwork {
  background-color: #090818;
}

.wblack {
  background-color: #090818 !important;
}


#header_text--work {
  grid-column: 2 / 6;
  grid-row: 3/4;
  max-width: 900px;
  white-space: nowrap;
  align-self: baseline;
  animation: flyin-2 1800ms ease-out !important;
  z-index: 10;
  position: relative;
  transform: translateY(-20%);
  padding-left: 20px;

  strong {
    color: $color-white;
    font-weight: 700;
  }
  
  h1 {
    @include fluid-type($min_width, $max_width, $min_font, $max80_font);
    line-height: calc(30px + (80 - 30) * ((100vw - 320px) / (1400 - 320)));
    color: $text-snow;
    position: relative;
    z-index: 10;
    letter-spacing: 1.2px;
    margin-top: 0;
  }
  
  p {
    font-size: $textsize--standard;
    color: $text-shadow;
    line-height: $line-height--standard;
    font-weight: 300;
    max-width: 500px;

    b {
      font-weight: 600;
    }
  }

  .experiment {
    position: relative;
  }

  // .experiment::after {
  //   content: " ";
  //   position: absolute;
  //   bottom: -2.5em;
  //   right: 0;
  //   background: url("../img/rectangle.svg") no-repeat;
  //   width: 225px;
  //   height: 170px;
  //   z-index: -1;
  // }

  @supports (-webkit-text-stroke: 1px white) {
    .experiment {
      -webkit-text-stroke: 1px $color-white;
      -webkit-text-fill-color: transparent;
      color: transparent;
    }
  }
}

.wblack {
  background-color: #0D0D19 ;
}


#lines {
  grid-column: 6/6;
  grid-row: 9;
  display: flex;
  font-size: 1.5rem;
  opacity: 1;
  pointer-events: all;
  font-weight: 300;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  white-space: nowrap;
  margin-top: -6em;

  span {
    opacity: .3;
  }
}

.line1, .line2 {
  width: 100vw;
}

.line1 {
  margin-bottom: 1.4em;
  transform: translateX(-4%);
  animation: titleloops 140s linear alternate infinite;
  -webkit-animation: titleloops 140s linear alternate infinite;
}

.line2 {
  transform: translateX(-100%);
  animation: titleloops2 400s linear alternate infinite;
  -webkit-animation: titleloops2 400s linear alternate infinite;
}

.wsign {
  opacity: .5;
}

#wstrong {
  font-weight: 500  !important;
  color: white  !important;  
}

#warrow {
  font-size: $min_font;
  color: white  !important;  
}

.wsideprojects {
  margin-top: -18.75rem !important;
}


#designsources {
  display: flex;
  position: relative;
  flex-direction: row;
  overflow: hidden;
  color: #27272d;
  font-weight: 300;
  margin:6em 0;

  .figma--deco {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin: 2em auto;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    white-space: nowrap;
    transform: rotate(180deg);
    position: relative;
  

    &::before {
      content: " ";
      position: absolute;
      background-color: #131435;
      height: 8px;
      width: 8px;
      left: 7px;
      top: -20px;
    }
  }

  .deco--2 {
    margin-top: 8em;
  }

  .figma__detail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  figcaption {
    font-weight: 400;
    font-size: 14px;
    opacity: .5;
  }


  article, article a {
    max-width: 35%;
    position: relative;
    margin-top: 80px;
    transition: all 0.2s ease-in-out;
    color: $text-coal;

    p {
      margin-top: 1.3rem;
      line-height: 2rem;
    }

    img {
      box-shadow: 0px 64px 64px rgba(134, 135, 160, 0.08), 0px 32px 32px rgba(117, 120, 153, 0.08), 0px 16px 16px rgba(118, 119, 155, 0.07);
      border-radius: 20px;
    }

    &:hover {
      box-shadow: 0 16px 30px 0 rgba(88,6,17,0.3), 0 32px 32px 0 rgba(117,120,153,0.02), 0 16px 16px 0 rgba(118,119,155,0.02), 0 8px 8px 0 rgba(122,120,152,0.06), 0 4px 4px 0 rgba(118,115,154,0.04), 0 64px 64px 0 rgba(134,135,160,0.08), 0 32px 32px 0 rgba(117,120,153,0.05);
      transform: scale(1.001);

      .overlay__text {
        animation: zooming 0.5s ease-out;
      }
    }
  }

  .ar--first {
    position: relative;

    &::before {
      position: absolute;
      content: " ";
      z-index: -1;
      top: -100px;
      right: 50%;
       bottom: 0;
       width: calc(100vw / 3);
       background: linear-gradient(196deg, #F1E1D5 25%, rgba(233, 216, 229, 0) 57.47%);
      }
    }

  .ar--second {
    position: relative;

    &::before {
      position: absolute;
      content: " ";
      z-index: -1;
      top: -100px;
      left: 50%;
      bottom: 0;
      background: linear-gradient(150deg, #9FC7FF 9.25%, rgba(144, 92, 255, 0) 50.25%);
      }
    }

}

.w__curriculum {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 8rem;

  h3 {
    margin-top: 5rem;
    margin-bottom: 1.25rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: inherit;
  }

  li {
    display: grid;
    grid-template-columns: 10% 15% 40% 20%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    line-height: 160%;
    border-bottom: 1px $dark-divider solid;
   
    div {
      text-align: left;
      padding: 1.25rem 0;
    }

    div:nth-child(2) {
      font-weight: 500;
      text-transform: uppercase;
    }

  }
}



.w_location {
  text-align: right;
}

@keyframes titleloops {
	0% {
		transform: translateX(-4%);
	}
	100% {
		transform: translateX(-100%);
	}
}


@keyframes titleloops2 {
	0% {
		transform: translateX(-170%);
	}
	100% {
		transform: translateX(100%);
	}
}


.wsideprojects__graphic {
  z-index: 1;
  width: 100%;
  background: url("../img/principles_bg.svg") 5% 100% no-repeat;
  position: relative;
  min-height: 1000px;
  overflow: hidden;
  border-radius: 2vw; }